# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,81.16,77,99,16.22,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,76.39,67,83,16.53,broken clouds
2,2,Peniche,PT,39.3558,-9.3811,68.11,92,55,7.00,broken clouds
3,3,Cape Town,ZA,-33.9258,18.4232,80.49,34,100,10.20,overcast clouds
4,4,Ajdabiya,LY,30.7554,20.2263,77.92,41,38,13.11,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
705,705,Sembakung,ID,3.8167,117.2500,74.25,98,100,0.69,light rain
706,706,Santiago De Chuco,PE,-8.1500,-78.1833,60.10,52,66,6.53,broken clouds
707,707,Monte Alegre,BR,-2.0078,-54.0692,92.44,46,98,5.84,overcast clouds
708,708,Sept-Iles,CA,50.2001,-66.3821,47.05,59,75,13.80,broken clouds
709,709,Shiyan,CN,32.6475,110.7781,53.35,58,100,1.66,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
clean_travel_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data --- Not Using the .head() so I can see the total rows
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,81.16,77,99,16.22,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,76.39,67,83,16.53,broken clouds
3,3,Cape Town,ZA,-33.9258,18.4232,80.49,34,100,10.20,overcast clouds
4,4,Ajdabiya,LY,30.7554,20.2263,77.92,41,38,13.11,scattered clouds
8,8,Biak,ID,-0.9131,122.8766,75.99,86,96,6.11,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
690,690,Santa Cruz Del Sur,CU,20.7147,-77.9956,83.95,72,43,12.44,scattered clouds
695,695,Phan Thiet,VN,10.9333,108.1000,77.86,88,100,4.61,overcast clouds
697,697,Ewa Beach,US,21.3156,-158.0072,76.01,79,100,3.44,overcast clouds
700,700,Gigmoto,PH,13.7796,124.3900,80.02,88,100,8.32,overcast clouds
704,704,Aden,YE,12.7794,45.0367,85.46,62,46,10.22,scattered clouds

In [5]:
# Added a count to see if there are any NA values: 
clean_travel_cities.count()

City_ID                223
City                   223
Country                223
Lat                    223
Lng                    223
Max Temp               223
Humidity               223
Cloudiness             223
Wind Speed             223
Current Description    223
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = clean_travel_cities.dropna()

# Display sample data --- Not Using the .head() so I can see the total rows and compare it to above
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,81.16,77,99,16.22,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,76.39,67,83,16.53,broken clouds
3,3,Cape Town,ZA,-33.9258,18.4232,80.49,34,100,10.20,overcast clouds
4,4,Ajdabiya,LY,30.7554,20.2263,77.92,41,38,13.11,scattered clouds
8,8,Biak,ID,-0.9131,122.8766,75.99,86,96,6.11,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
690,690,Santa Cruz Del Sur,CU,20.7147,-77.9956,83.95,72,43,12.44,scattered clouds
695,695,Phan Thiet,VN,10.9333,108.1000,77.86,88,100,4.61,overcast clouds
697,697,Ewa Beach,US,21.3156,-158.0072,76.01,79,100,3.44,overcast clouds
700,700,Gigmoto,PH,13.7796,124.3900,80.02,88,100,8.32,overcast clouds
704,704,Aden,YE,12.7794,45.0367,85.46,62,46,10.22,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# Display sample data --- Not Using the .head() so I can see the total rows for comparison 
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng
0,Hithadhoo,MV,81.16,overcast clouds,-0.6000,73.0833
1,Atuona,PF,76.39,broken clouds,-9.8000,-139.0333
3,Cape Town,ZA,80.49,overcast clouds,-33.9258,18.4232
4,Ajdabiya,LY,77.92,scattered clouds,30.7554,20.2263
8,Biak,ID,75.99,overcast clouds,-0.9131,122.8766
...,...,...,...,...,...,...
690,Santa Cruz Del Sur,CU,83.95,scattered clouds,20.7147,-77.9956
695,Phan Thiet,VN,77.86,overcast clouds,10.9333,108.1000
697,Ewa Beach,US,76.01,overcast clouds,21.3156,-158.0072
700,Gigmoto,PH,80.02,overcast clouds,13.7796,124.3900
704,Aden,YE,85.46,scattered clouds,12.7794,45.0367

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data --- Not Using the .head() so I can see the total rows for comparison
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,81.16,overcast clouds,-0.6000,73.0833,
1,Atuona,PF,76.39,broken clouds,-9.8000,-139.0333,
3,Cape Town,ZA,80.49,overcast clouds,-33.9258,18.4232,
4,Ajdabiya,LY,77.92,scattered clouds,30.7554,20.2263,
8,Biak,ID,75.99,overcast clouds,-0.9131,122.8766,
...,...,...,...,...,...,...,...
690,Santa Cruz Del Sur,CU,83.95,scattered clouds,20.7147,-77.9956,
695,Phan Thiet,VN,77.86,overcast clouds,10.9333,108.1000,
697,Ewa Beach,US,76.01,overcast clouds,21.3156,-158.0072,
700,Gigmoto,PH,80.02,overcast clouds,13.7796,124.3900,
704,Aden,YE,85.46,scattered clouds,12.7794,45.0367,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data --- Not Using the .head() so I can see the total rows for comparison
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,81.16,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,Atuona,PF,76.39,broken clouds,-9.8000,-139.0333,Villa Enata
3,Cape Town,ZA,80.49,overcast clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
4,Ajdabiya,LY,77.92,scattered clouds,30.7554,20.2263,منزلة الحاج سالم خليفة العيساويه الزواوي
8,Biak,ID,75.99,overcast clouds,-0.9131,122.8766,Penginapan Kim
...,...,...,...,...,...,...,...
690,Santa Cruz Del Sur,CU,83.95,scattered clouds,20.7147,-77.9956,
695,Phan Thiet,VN,77.86,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
697,Ewa Beach,US,76.01,overcast clouds,21.3156,-158.0072,Base Lodging
700,Gigmoto,PH,80.02,overcast clouds,13.7796,124.3900,Cj's Travellers Inn
704,Aden,YE,85.46,scattered clouds,12.7794,45.0367,Sama Emirate Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [28]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
# clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'], how='any')
# clean_hotel_df = clean_hotel_df[clean_hotel_df['Hotel Name'].astype(bool)]

# Display sample data --- Not Using the .head() so I can see the total rows for comparison
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,81.16,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,Atuona,PF,76.39,broken clouds,-9.8000,-139.0333,Villa Enata
3,Cape Town,ZA,80.49,overcast clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
4,Ajdabiya,LY,77.92,scattered clouds,30.7554,20.2263,منزلة الحاج سالم خليفة العيساويه الزواوي
8,Biak,ID,75.99,overcast clouds,-0.9131,122.8766,Penginapan Kim
...,...,...,...,...,...,...,...
683,Kudahuvadhoo,MV,81.46,few clouds,2.6708,72.8944,Niyama Private Islands Maldives
695,Phan Thiet,VN,77.86,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
697,Ewa Beach,US,76.01,overcast clouds,21.3156,-158.0072,Base Lodging
700,Gigmoto,PH,80.02,overcast clouds,13.7796,124.3900,Cj's Travellers Inn
704,Aden,YE,85.46,scattered clouds,12.7794,45.0367,Sama Emirate Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [29]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [30]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [31]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [32]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>منزلة الحاج سالم خليفة العيساويه الزواوي</dd>\n<dt>City</dt><dd>Ajdabiya</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Penginapan Kim</dd>\n<dt>City</dt><dd>Biak</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lords Inn Porbandar</dd>\n<dt>City</dt><dd>Porbandar</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Axim Beach Resort And Spa</dd>\n<dt>City</dt><dd>Axim</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>light rain and 81.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel & Restaurant DIANA Ambilobe</dd>\n<dt>City</dt><dd>Ambilobe</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.0 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [33]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   -0.6000   73.0833
1   -9.8000 -139.0333
3  -33.9258   18.4232
4   30.7554   20.2263
8   -0.9131  122.8766
11  21.6422   69.6093
12 -34.4187   19.2345
13  19.7297 -155.0900
17   4.8699   -2.2405
21 -13.2000   49.0500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [34]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=())
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))